<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="{{ url_for('static', path='index.css') }}" rel="stylesheet">
</head>
<body>
    <h2>{{word}}</h2>
    {% for n, ngram_result in results.items() -%}
    <h3>{{n}}-gram</h3>
    <table>
        <tr>
            <th>candidates</th>
            <th>pos</th>
            <th>count</th>
        </tr>
        {% for result in ngram_result -%}
        <tr>
            <td>{{ result["next_word"] }}</td>
            <td>{{ result["next_word_pos"] }}</td>
            <td>{{ result["count"] }}</td>
        </tr>
        {%- endfor %}
    </table>
    {%- endfor %}
</body>
</html>